###############################################################################
# CONTACTS.CFG - SAMPLE CONTACT/CONTACTGROUP DEFINITIONS
#
# Last Modified: 05-31-2007
#
# NOTES: This config file provides you with some example contact and contact
#        group definitions that you can reference in host and service
#        definitions.
#       
#        You don't need to keep these definitions in a separate file from your
#        other object definitions.  This has been done just to make things
#        easier to understand.
#
###############################################################################



###############################################################################
###############################################################################
#
# CONTACTS
#
###############################################################################
###############################################################################

# Just one contact defined by default - the Nagios admin (that's you)
# This contact definition inherits a lot of default values from the 'generic-contact' 
# template which is defined elsewhere.

define contact{
        contact_name                    nagiosadmin		; Short name of user
	use				generic-contact		; Inherit default values from generic-contact template (defined above)
        alias                           Nagios Admin		; Full name of user

        email                           nagios@localhost	; <<***** CHANGE THIS TO YOUR EMAIL ADDRESS ******
        }

define contact{
        contact_name                    jbgreer
	use				generic-contact
        alias                           John Greer
        email                           john.greer@ccisystems.com
        }

define contact{
        contact_name                    jdjacobs
	use				generic-contact
        alias                           Josh Jacobs
        email                           joshua.jacobs@ccisystems.com
        }

define contact{
        contact_name                    jekangas
	use				generic-contact
        alias                           Jason Kangas
        email                           jason.kangas@ccisystems.com
        }

define contact{
        contact_name                    cacapo
	use				generic-contact
        alias                           Chris Capo
        email                           nagiosspam@localhost
        }

define contact{
        contact_name                    ewrice
	use				generic-contact
        alias                           Evan Rice
        email                           nagiosspam@localhost
        }

define contact{
        contact_name                    dba
	use				generic-contact
        alias                           CCI DBA Group
        email                           dba@ccisystems.com
        }

define contact{
        contact_name                    jtpoll
	use				generic-contact
        alias                           Jason Poll
        email                           jason.poll@ccisystems.com
        }

define contact{
        contact_name                    rsteinke
	use				generic-contact
        alias                           Roy Steinke
        email                           roy.steinke@ccisystems.com
        }



###############################################################################
###############################################################################
#
# CONTACT GROUPS
#
###############################################################################
###############################################################################

# We only have one contact in this simple configuration file, so there is
# no need to create more than one contact group.

define contactgroup{
        contactgroup_name       networkadmins
        alias                   Network Admins
        members                 jbgreer,jekangas,jdjacobs
        }

define contactgroup{
        contactgroup_name       serveradmins
        alias                   Server Admins
        members                 jbgreer,jekangas,jdjacobs
        }

define contactgroup{
        contactgroup_name       dbadmins
        alias                   MSSQL Administrators
        members                 dba,ewrice,cacapo
        }

define contactgroup{
        contactgroup_name       vmadmins
        alias                   Virtual Host Administrator
        members                 rsteinke,jtpoll
        }

define contactgroup{
        contactgroup_name       admins
        alias                   Nagios Administrators
        members                 nagiosadmin
        }
